@import './variable';

$btn-padding-y: 7px !default;
$btn-padding-x: 22px !default;
$btn-line-height: 1.35em !default;

$btn-padding-y-sm: 4.5px !default;
$btn-padding-x-sm: 14.5px !default;
$btn-line-height-sm: 1.35 !default;

$btn-padding-y-lg: 12px !default;
$btn-padding-x-lg: 30px !default;

$btn-round-radius: 30px !default;
$btn-round-radius-sm: 8px !default;

// type 1
.ML2 {
  border: 1px solid $basic;
  border-radius: $btn-round-radius-sm;
  color: $basic;
  padding-top: $btn-padding-y-sm;
  padding-bottom: $btn-padding-y-sm;
  padding-right: $btn-padding-x-sm;
  padding-left: $btn-padding-x-sm;
  background-color: transparent;
  font-size: 0.8rem;
}

.ML2:hover {
  border: 1px solid $purple;
  color: $purple;
}

.ML2:active {
  border: 1px solid $purple;
  outline: none;
}

// type 2
.link {
  padding: 0;
  background-color: transparent;
  color: $basic;
  text-align: start;
  border: transparent;
  p {
    margin: 0;
  }
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  outline: none;
}

.link:focus {
  outline: none;
}

// type 3
.docs {
  border: 1px solid $basic;
  border-radius: $btn-round-radius-sm;
  padding-right: $btn-padding-x-sm;
  padding-left: $btn-padding-x-sm;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 600;
  a {
    color: $basic !important;
  }
}

.docs:hover {
  border: 1px solid $purple;
  color: $purple;
  a {
    color: $purple !important;
  }
}

.docs:active {
  border: 1px solid $purple;
  outline: none;
}

//type4
.index {
  background-color: $purple;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid $purple;
  border-radius: 10px;
  padding-top: $btn-padding-y;
  padding-bottom: $btn-padding-y;
  padding-right: $btn-padding-x;
  padding-left: $btn-padding-x;
  width: 160px;
  height: 60px;
  cursor: pointer;
  a {
    color: white !important;
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 650px) {
  .index {
    width: 110px;
    height: 50px;
    padding-top: $btn-padding-y-sm;
    padding-bottom: $btn-padding-y-sm;
    padding-right: $btn-padding-x-sm;
    padding-left: $btn-padding-x-sm;
    font-size: 15px !important;
    a {
      font-size: 15px !important;
    }
  }
}
