@import './variable';

.container {
  background-color: black;
}

.footer {
  color: white;
  min-height: 18vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  font-size: 12px;
  padding: 0;

  .one {
    grid-row: 1;
    grid-column: 1;
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .two {
    grid-row: 1;
    grid-column: 2;
    display: inline-flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .three {
    grid-row: 1;
    grid-column: 3;
    display: inline-flex;
    justify-content: end;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
    a {
      margin-left: 1rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    text-align: left !important;
    padding-left: 1rem;

    .one {
      grid-row: 1;
      grid-column: 1;
    }
    .two {
      grid-row: 2;
      grid-column: 1;
      justify-content: start;
    }
    .three {
      grid-row: 3;
      grid-column: 1;
      justify-content: start;
      margin-left: 0;
      margin-right: auto;
    }
  }
}
