@import './variable';

.layout {
  display: grid;
  grid-template-rows: 6fr 1fr;
  height: 100vh;
}

@media (max-width: 950px) {
  .layout {
    height: 100%;
    grid-template-rows: 5fr 1fr;
    .main {
      height: 100vh;
      margin-top: 1rem;
    }
  }
}
