@import './variable';

#row {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  grid-template-columns: auto;
  margin-top: auto;
  margin-bottom: auto;

  .giflogo {
    width: 400px;
    grid-row: 1;
    grid-column: 1;
  }

  .description {
    grid-row: 1;
    grid-column: 2;
    height: 350px;
    width: 530px;

    .title {
      line-height: 50px;

      #snakegame {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 50px;
      }

      #multiagent {
        font-weight: 700;
        font-size: 4rem;
        color: $purple;
      }

      #tutorial {
        font-weight: 700;
        font-size: 4rem;
      }
    }

    .text {
      a {
        color: $purple;
        font-weight: 600;
        outline: 0;
        font-size: 1.1rem;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .button {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1000px) {
  #row {
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 90vh;
    text-align: center;
    .giflogo {
      max-width: 600px;
      grid-row: 1;
      grid-column: 1;
      margin: 0 auto;
      text-align: center;
    }
    .description {
      max-width: 600px;
      height: 500px;
      grid-row: 2;
      grid-column: 1;
      margin: 0 auto;
    }
  }
}

@media (max-width: 650px) {
  #row {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;

    .giflogo {
      max-width: 70vw;
      max-height: 70vw;
      grid-row: 1;
      grid-column: 1;
      margin: 0 auto;
      text-align: center;
    }
    .description {
      max-width: 90vw;
      grid-row: 2;
      grid-column: 1;
      margin: 0 auto;
    }
  }
}

@media (max-width: 400px) {
  #row {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 100%;
    .giflogo {
      max-width: 200px;
      grid-row: 1;
      grid-column: 1;
      margin: 0 auto;
      text-align: center;
    }
    .description {
      width: 90vw;
      grid-row: 2;
      grid-column: 1;
      margin: 0 auto;
      margin-bottom: 5rem;

      .title {
        #multiagent {
          font-size: 3rem;
        }

        #tutorial {
          font-size: 3rem;
        }
      }
    }
  }
}
