@import './variable';

#row {
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .giflogo {
    text-align: center;
    width: 400px;
  }

  .description {
    max-height: 350px;
    width: 530px;
    display: flex;
    flex-direction: column;

    .title {
      flex: 1;
      line-height: 50px;

      #snakegame {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 50px;
      }

      #multiagent {
        font-weight: 700;
        font-size: 4rem;
        color: $purple;
      }

      #tutorial {
        font-weight: 700;
        font-size: 4rem;
      }
    }

    .text {
      flex: 2;
      a {
        color: $purple;
        font-weight: 600;
        outline: 0;
        font-size: 1.1rem;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .button {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 950px) {
  #row {
    flex-wrap: wrap;
    position: relative;
    margin-top: 50%;

    .giflogo {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    .description {
      margin: 0 auto;
      width: 350px;

      .title {
        line-height: 30px;
        white-space: nowrap;

        #snakegame {
          font-size: 1.2rem;
          line-height: 30px;
        }

        #multiagent {
          font-size: 3rem;
          color: $purple;
        }

        #tutorial {
          font-size: 3rem;
        }
      }

      .button {
        margin-top: 2rem;
        max-width: 350px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  #row {
    margin-top: 100%;
  }
}

@media (max-width: 400px) {
  #row {
    flex-wrap: wrap;
    position: relative;
    margin-top: 120%;
  }
}
