@import './variable';

.ML2 {
    max-width: 120px;
    position: fixed;
    top: 7rem;
    right: 1rem;
    margin: 1rem;
    text-align: center;
    margin-left:1rem;
}

@media (max-width: 750px) {
    .ML2 {
       display: none;
    }
    
}
