@import './variable';

.row {
  margin-bottom: 5rem;
  word-wrap: break-word;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.TOC {
  max-width: 300px;
  padding: 0;
}

@media (max-width: 950px) {
  .TOC {
    display: none;
  }
}

.post {
  display: block;
  color: $basic;
  line-height: 40px;
  word-spacing: 0.8px;
  font-weight: 300;
  padding-bottom: 3rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 400;

  .right {
    text-align: right;
  }

  @media (max-width: 760px) {
    .right {
      text-align: start;
    }
  }

  a {
    color: $purple;
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
  }

  hr {
    border: 0.1px solid $basic;
  }

  STRONG {
    font-weight: 700;
    color: $dark;
  }

  DEL {
    color: $green;
    text-decoration: none;
  }

  h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 600;
  }

  h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  h4 {
    padding-top: 1.5rem;
  }

  h6 {
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }

  img[alt='inline'] {
    display: inline-block;
    height: 20%;
    width: 20%;
    margin: 0 auto;
    padding-top: 1rem;
    margin-left: 10%;
  }

  img[alt='forty'] {
    height: 40%;
    width: 40%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='fifty'] {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='sixty'] {
    height: 60%;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='seventy'] {
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='eighty'] {
    height: 80%;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='ninety'] {
    height: 90%;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  img[alt='full'] {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }
}

.docs {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 0.9rem;
  color: $basic;
}

#article {
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .post {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.ML2Link {
  max-width: 120px;
}

@media (max-width: 1250px) {
  .ML2Link {
    display: none;
  }
  .post {
    margin-right: 1rem;
  }
}

#prenext {
  a {
    font-weight: 700;
  }
}
