@import './variable';

.title {
  padding-left: 1rem;
  padding-top: 1rem;
  color: $basic;
  font-size: 0.8rem;
  font-weight: 600;
}

.all {
  position: fixed;
  top: 10rem;
  left: calc((100vw - 1200px) / 2);
  max-width: 280px;
  border: transparent;
  padding-right: 0.5rem;
  font-size: 0.9rem;
  background-color: $lightgray;

  li {
    border: transparent;
    background-color: $lightgray;
  }

  a {
    color: $basic !important;
  }

  a:hover {
    text-decoration: none;
    font-weight: 600;
  }

  .index {
    padding-right: 1rem;
    border: transparent;
    color: $basic;
    background-color: $lightgray;
    margin-right: 0;

    a {
      color: $basic !important;
    }

    b {
      font-weight: 600 !important;
      color: $purple;
    }

    ul {
      list-style-type: none;
      padding-left: 1rem;
      line-height: 28px;
    }
  }

  .current {
    max-width: 280px;
    background-color: transparent;
    border: transparent;

    a {
      color: $purple !important;
      font-weight: 600 !important;
    }

    li {
      list-style-type: none;
    }
  }
}

#chapter {
  padding-left: 40px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .all {
    left: 0;
  }
}

@media (max-width: 950px) {
  .all {
    display: none;
  }
}
